form{
    height: 10vh;
    width: 40vw;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}
form>input{
    width: 30vw;
    height: 5vh;
    border-radius: 15px;
}