div.container {
    background-color: lightgoldenrodyellow;
    height: 90vh;
    width: 80vw;
    position: relative;
    top: 5vh;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.container>section {
    background-color: navajowhite;
    border-radius: 25px;
    height: 25vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

span {
    font-size: 1.2em;
}

.list {
    text-align: right;
    height: 10vh;
    width: 25vw;
}