div.container {
    background-color: lightblue;
    height: 90vh;
    width: 80vw;
    position: relative;
    top: 5vh;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}

div.container>section {
    background-color: lightslategray;
    width: 35vw;
    height: 40vh;
}

div.container>section>h1 {
    margin: 3vh;
}

div.container>section>ul {
    margin: 0 3vh;
}

div.container>section>ul>li>ul {
    margin: 2vh 5vh;
}