section.slideshow{
    height: 40vh;
    width: 100%;
    background-color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}
div.image_part{
    background-color: steelblue;
    width: 40%;
    height: 35vh;

    display: flex;
    justify-content: space-between;
}
.image_part>img{
width: 20vw;

}
.image_part>button{
    font-size: 3em;
}
.buttons{
    background-color: steelblue;
    width: 20vw;
    height: 5vh;
    margin: 1vh auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
